# Downloads

Prebuilt binary packages:

- [${project.build.finalName}-${project.version}.tar.bz2]
  (./dist/${project.build.finalName}-${project.version}.tar.bz2)
- [${project.build.finalName}-${project.version}.tar.gz]
  (./dist/${project.build.finalName}-${project.version}.tar.gz)
- [${project.build.finalName}-${project.version}.zip]
  (./dist/${project.build.finalName}-${project.version}.zip)

Unpack the  downloaded archive anywhere  into your  `$PATH`. It contains  a Java
Jar file  `juberblog.jar` and a wrapper  script `juberblog`. You should  not run
the Jar file directly. Instead use the wrapper script.
