/* colors from http://www.lavishbootstrap.com/ */

$lav1: #B4C7DA;
$lav2: #B3BBC2;
$lav3: #96AFCA;
$lav4: #799EC3;
$lav5: #6C8EB0;
$lav6: #5C7C91;
$lav7: #343E3B;

/* new color schema */

$white: #FFFFFF;
$grey1: #E5E5E5;
$grey2: #CCCCCC;
$grey3: #B2B2B2;
$grey4: #999999;
$grey5: #7F7F7F;
$grey6: #666666;
$grey7: #4C4C4C;
$grey8: #333333;
$grey9: #191919;
$black: #000000;

$lightBlue1: #F0F4F7;
$lightBlue2: #E1EAEF;
$lightBlue3: #D2DFE7;
$lightBlue4: #C3D5DF;
$lightBlue5: #B4CAD6;
$lightBlue6: #A5BFCE;
$lightBlue7: #96B5C6;
$lightBlue8: #87AABE;
$lightBlue9: #789FB6;
$lightBlue10: #6995AE; /* medium */
$lightBlue11: #5F869D;
$lightBlue12: #54778B;
$lightBlue13: #4A697A;
$lightBlue14: #3F5968;
$lightBlue15: #354B57;
$lightBlue16: #2A3C46;
$lightBlue17: #202D35;
$lightBlue18: #151E23;
$lightBlue19: #0B0F12;

$darkBlue1: #EDF2F6;
$darkBlue2: #DCE5EE;
$darkBlue3: #CAD8E6;
$darkBlue4: #B9CCDD;
$darkBlue5: #A7BFD5;
$darkBlue6: #96B2CD;
$darkBlue7: #84A5C4;
$darkBlue8: #7399BC;
$darkBlue9: #618CB3;
$darkBlue10: #507FAB;  /* medium */
$darkBlue11: #48739A;
$darkBlue12: #406689;
$darkBlue13: #385978;
$darkBlue14: #304C67;
$darkBlue15: #284056;
$darkBlue16: #203344;
$darkBlue17: #182634;
$darkBlue18: #101922;
$darkBlue19: #080D11;

.lightText {
  color: $lightBlue2;
}