@import "normalize";
@import "colors";
@import "tags";
@import "mixins";

#page {
  background: none repeat scroll 0 0 $lightBlue1;
  margin: 2em auto;
  max-width: 940px;;
}

#branding {
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}

#branding hgroup {
  margin: 0 3.6%;
}

#branding img {
  height: auto;
  margin-bottom: -7px;
}

#rss {
  float: right;
  margin-top: -128px;
  margin-right: -50px;
}

#site-title {
  margin-right: 270px;
  padding: 20px 0 0.05em 0;
  color: $darkBlue18;
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
}

#site-description {
  color: $lightBlue13;
  font-size: 16px;
  margin: 0 270px 1.65625em 2px;
  padding:  0;
}

#access {
  @include blue-gradiant($darkBlue6, $darkBlue11);
  background-color: $darkBlue6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  clear: both;
  display: block;
  float: left;
  margin: 0 auto 6px;
  width: 100%;
}

#access div {
  margin: 0 3.6%;
}

#access a {
  color: $lightBlue1;
  display: block;
  line-height: 3.333em;
  padding: 0 1.2125em;
  text-decoration: none;
}

#access .current_page_item > a {
  font-weight: bold;
}

#access ul {
  font-size: 13px;
  list-style: none outside none;
  margin: 0 0 0 -0.8125em;
  padding-left: 0;
}

#access li {
  float: left;
  position: relative;
}

#main {
  clear: both;
  padding: 1.625em 0 0;
}

#primary {
  float: right;
  margin: 0 0 0 -26.4%;
  width: 100%;
}

#primary ul, #primary ol {
  color: $black;
  margin-bottom: 1.2em;
  margin-left: 20px;
}

#primary ul {
  list-style: none;
}

#primary ul li:before {
  content: "¬";
  position: relative;
  left: -20px;
}

#content {
  margin: 0 7.6% 2% 34%;
  width: 58.4%;
}

#content h2 {
  font-size: 2.2em;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}

#content h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}

#content h4 {
  font-size: 1.3em;
  line-height: 1.1em;
  margin-bottom: 0.4em;
}

#rating {
  display: none;
  float: right;
}

#comments {
  display: none;
}

#pagination {
  text-align: center;
}

#secondary {
  float: left;
  margin-left: 7.6%;
  margin-right: 0;
  width: 18.8%;
  font-size: 12px;
}

#secondary ul {
  list-style: none;
}

#secondary aside {
  clear: both;
  margin: 0 0 2.2em;
}

.meta {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

#secondary aside ul {
  font-size: 15px;
  margin: 0;
}

#secondary aside ul li {
  color: $grey5;
  font-size: 13px;
}

#secondary aside a {
  font-weight: bold;
  text-decoration: none;
}


footer {
  @include blue-gradiant($darkBlue6, $darkBlue11);
  clear: both;
  border-top: 1px solid $darkBlue16;
  color: $lightBlue1;
  font-size: 12px;
  line-height: 1.2em;
  padding: 1.2em 0.5em;
  text-align: center;
}

footer a {
  font-weight: bold;
  color: $lightBlue1;
}

article p {
  margin-bottom: 1.625em;
}